{% extends 'base.html.twig' %}

{% block title %}Accueil - insertion image dans base de données{% endblock %}

{% block body %}
    <section>
        <h1>Ajouter un produit</h1>

        <div>
            {{ form_start(addProductForm, {'attr' : {'novalidate' : 'novalidate'}}) }}
                <div>
                    <div>
                        {{ form_errors(addProductForm.name) }}<br >
                        {{ form_widget(addProductForm.name) }}
                    </div>

                    <div>
                        {{ form_errors(addProductForm.price) }}<br >
                        {{ form_widget(addProductForm.price) }}
                    </div>

                    <div>
                        {{ form_errors(addProductForm.image) }}<br >
                        {{ form_widget(addProductForm.image) }}
                    </div>

                    <div style="margin-top: 20px">
                        <button type="submit">Ajouter le produit</button>
                    </div>

                </div>

            {{ form_end(addProductForm) }}
        </div>
    </section>
{% endblock %}